# Core
fastapi==0.115.12
uvicorn[standard]==0.34.2
pydantic[email]==2.11.4
pydantic-settings==2.9.1

# Database
sqlalchemy==2.0.41
alembic==1.15.2

# Authentication
PyJWT[crypto]==2.13.0
bcrypt==4.3.0

# Logging
loguru==0.7.3

# Server
python-multipart==0.0.20

# Testing
httpx==0.28.1
pytest==9.1.1
